[BUG] Mid Registrar sent wrong expiration

**OpenSIPS version you are running**

version: opensips 2.4.6 (x86_64/linux)
flags: STATS: On, DISABLE_NAGLE, USE_MCAST, SHM_MMAP, PKG_MALLOC, F_MALLOC, FAST_LOCK-ADAPTIVE_WAIT
ADAPTIVE_WAIT_LOOPS=1024, MAX_RECV_BUFFER_SIZE 262144, MAX_LISTEN 16, MAX_URI_SIZE 1024, BUF_SIZE 65535
poll method support: poll, epoll, sigio_rt, select.
git revision: 9c49b09
main.c compiled on 20:36:11 Oct  4 2019 with gcc 4.8.5

**Describe the bug**

I am using Mid Registrar module with the following settings.

modparam("mid_registrar", "mode", 2)
modparam("mid_registrar", "outgoing_expires", 3600)
modparam("mid_registrar", "min_expires", 60)
modparam("mid_registrar", "default_expires", 3600)
modparam("mid_registrar", "max_expires", 3600)
modparam("mid_registrar", "default_q", 1000)
modparam("mid_registrar", "case_sensitive", 1)
modparam("mid_registrar", "max_contacts", 1)
modparam("mid_registrar", "disable_gruu", 0)

When a device is registered with expiration timeout for example 600sec, the reply from OpenSIPs contains expiration 600 in contact but also has Expiration Header at 3600.

Example

SIP/2.0 200 OK
Via: SIP/2.0/UDP 192.168.1.3:5109;received=1.65.4.118;branch=z9hG4bK271b515d2c64fe865edc2b6b87a02eb8;rport=5109
From: "400" <sip:2120@2.2.2.2>;tag=56236573
To: "400" <sip:2120@2.2.2.2>;tag=as04a9a9dd
Call-ID: 2648291121@192_168_1_3
CSeq: 38 REGISTER
Server: Exelysis UCS
Allow: INVITE, ACK, CANCEL, OPTIONS, BYE, REFER, SUBSCRIBE, NOTIFY, INFO, PUBLISH, MESSAGE
Supported: replaces
**Expires: 3600**
Date: Fri, 04 Oct 2019 19:53:11 GMT
Content-Length: 0
Contact: <sip:2120@1.65.4.118:5109>;q=1;**expires=600**

**OS/environment information**
Centos 7 64bit


Hello @liviuchircu 

The problem might be a wrong implementation from IP Phone side. The issue was mentioned on Gigaset Phone which refresh their registration at 3600 instead of 600.

I can't tell if the Expiration Header should contain default expiration or "negotiated" expiration but for Gigaset IP Phones the only solution for mid registrar to work is to set registration expiration on the Phone to the default expiration.


@apsaras , in such situations, we have to fall back to the source of truth, section § 10.2 of RFC 3261, which says:

```
      expires: The "expires" parameter indicates how long the UA would
           like the binding to be valid.  The value is a number
           indicating seconds.  If this parameter is not provided, the
           value of the Expires header field is used instead.
           Implementations MAY treat values larger than 2**32-1
           (4294967295 seconds or 136 years) as equivalent to 2**32-1.
           Malformed values SHOULD be treated as equivalent to 3600.
```

So the mid-registrar is not breaking the RFC by advertising different expiration values.  I ask you now: if the REGISTER included 2 contacts, with different expirations, which of the two should the mid-registrar put in the Expire header to make the Gigaset happy?  The answer seems to be "none", since picking either expiration would break the other contact.

Hello @liviuchircu.

I totally agree with you. Current implementation of mid-registrar is the right one.

Best approach is to open a ticket with Gigaset.

Thank you for your support.