CSeq header handling in mediaproxy

Hello,

Mediaproxy module does not seem to work when CSeq header is formated like CSeq:<number> <method> (without space after colon).
According to RFC 3261 section 7.3.1 there could be any number of space before and after colon.
The preferred form is CSeq: <number> <method> (with a space after colon), but some client softwares do not respect this recommendation.

I get errors like this:

ERROR:mediaproxy:get_cseq_number: missing CSeq number
ERROR:mediaproxy:use_media_proxy: failed to get CSeq
C5::unknown::INVITE:: Mediaproxy error (-1)

And the connection data field in SDP is not set to Opensips's IP.

Opensips version used : 1.8.0.

Regards.
