100 Trying issue for OpenSIPS servers in the middle

Hello,

In my scenario, I am using OpenSIPS 2.4 as a stateful load balancer and I'm running into some issues with the 100 Trying, in a setup of Trunk -> OS2.4 -> GW. 

I'm using modparam("tm", "auto_100trying", 0) , and don't want my OS2.4 to generate the 100 Trying, but rather I want the next hop ( the GW ) to decide when it's actually trying the request - due to existing logic on the Trunk side of disabling gateways based on no response at all.

Still, I'm running into issues when the GW 100 Trying is not getting relayed - issue seems to be in the t_should_relay_response function : 
    *should_relay= new_code==100? -1 : branch;

RFC 3261 section 21.1.1 mentions "The 100 (Trying) response is different from other provisional responses, in that it is never forwarded upstream by a stateful proxy" - but I can't switch to stateless mode in my setup because I am using stateful features ( dialog limits, etc ).

What would be the solution for such a case ?
I'm thinking about using change_reply_status for 100 Trying from GWs and changing them to 101 Trying, so the Trunk can differentiate between 100 Trying from OS2.4 and 100 Trying from the GW - would this be considered a solution or a hack ? 

Regards,
Vlad


Hey @vladpaiu , your solution is a bit hackish, but is solve the problem in an elegant way ;). On the other side, it breaks the logic of the SIP protocol (how the protocol is intended to work) - if you care about this :P. 
Normally, the proxy/LB (as in direct contact with the GW) should detect the failure (as timeout during fr_timeout) of the GW and fire back a 408 Timeout....which on LB can be customized (being detected as a locally generated 408) into some other reply code that will trigger the failover mechanism on the trunk.

Hello,

I do no really care about SIP ( since what I'm describing is mainly 1xx communication between two OpenSIPS boxes under my control ) - SIP is already shown to be broken in many cases ( disable_6xx_block for example, closest example in TM ).

In a seamless scenario for a LB, the SIP timeouts would still remain in the core logic, 1xx would flow directly from GW to LB to Core  - that's what I was trying to achieve ; luckily, both the LB and Core logic boxes are under my control to hack away.
But in a classic LB scenario where the Core is not under your control, having accurate 1xx detection is not quite possible, and yeah you could move the transaction timeouts to the LB level, so the 408 reply can be used as the 'messenger' of what happened to the GW - but again this needs access on the Core logic, which is not always there.

Regards,
Vlad

@vladpaiu , here are two (other options):

1) another hack, but keeping everything contained on the LB box. Disabled the auto_100 and use the onreply_route to force sending an 100 Trying when the 100 is received (basically you simulate a forward). It is not elegant, but use the MI (script triggered) [t_reply](https://opensips.org/html/docs/modules/2.4.x/tm.html#mi_t_reply) to do it.

2) enhance the `auto_100trying` by renaming it to `100trying_mode` with the`auto`, `manual`, `forward` options. The `forward` is what you would need.