[FEATURE] Support DIV (Diversion) PASSporT (ATIS-1000085.v002)

**Is your feature request related to a problem? Please describe.**
1. We would like to create DIV PASSporTs when signing calls with a SIP Diversion header.
2. We would like to verify DIV PASSporTs when receiving calls.

**Describe the solution you'd like**
- `stir_shaken_auth()` should automatically handle this. See section 5.3, the flowchart on page 12 (PDF page 17), and the example in Annex B in ATIS-1000085.v002 (linked below).
- `stir_shaken_verify()` should automatically handle this. See section 5.4 and the example in Annex B in ATIS-1000085.v002 (linked below).

**Implementation**
  - Component: `stir_shaken` module

**Describe alternatives you've considered**
There really is no alternative to proper support of this.

**Additional context**
- [ATIS-1000085.v002 ](https://www.sipforum.org/download/signature-based-handling-of-asserted-information-using-tokens-shaken-shaken-support-of-div-passport-atis-1000085-v003/?wpdmdl=3937&refresh=6a2dceb3e41211781386931)
- We may be able to contribute some funding for this. I can be contacted at rlaager@wiktel.com to discuss.

Hey @rlaager!  Upon a quick look at the resources, I noticed your link points to "v003" specs in the URL's content, but the download yields an older "v002" version of the document.  The newer "v003" clarifies AS procedures with stale passports, adds a full "verstat" chapter and brings improvements on both the AS and VS procedures.  I assume we're going with v003 here, being the latest one?

Example link to proper v003 doc: [here](https://access.atis.org/higherlogic/ws/public/download/81654/ATIS-1000085.v003.pdf)

Right, we would want the latest version. This URL might? always link to the latest version: https://access.atis.org/higherlogic/ws/public/download/81654/ATIS-1000085.pdf

Going through the document, the main additions to the existing stir_shaken codebase seem to be:

1. a fresh `iat` must be created on every new `div` passport generated by the AS
2. multiple Identity headers
a. the VS must accept Identity headers received in arbitrary order.  It would then sort them in Diversion succession order, using: `previous.dest == `next.div`
b. the VS must distinguish between "innermost" and "outermost" PASSporT.  Former being the originating SHAKEN passport, while the latter is the last authenticated Diversion passport.
3. possibly allow other innermost PASSporTs?!  Such as `rph` or `rcd`.
4. copy `"orig"` from the innermost PASSporT, as the original calling identity must be preserved across the Diversion chain.
5. stale tokens: upon receiving a stale outermost PASSSporT, the AS side MUST NOT append a fresh `div` which would mask the freshness failure, heading downstream.
6. add `verstat` handling for From/PAI: set to `TN-Validation-Passed`, `TN-Validation-Failed` or `No-TN-Validation`, depending if the chain verification passes, fails or receives B/C attestation.

Let me know if I missed any of the big features here, @rlaager 

And  some ideas on what this would look like in `opensips.cfg`:

### Authentication: Adding a "div" signature

```
stir_shaken_auth_div(cert, pkey, x5u,
                     [orig], [div], [dest], [out])
```

Defaults:
  - `orig`: copied from the innermost SHAKEN PASSporT
  - `div`: current outermost `dest`
  - `dest`: canonicalized Request-URI after retargeting;
  - `iat`: current creation time

We should also be careful to allow both generating the innermost passport and attaching a "div", like so:

```
  stir_shaken_auth(...);      # create base SHAKEN token
  stir_shaken_auth_div(...);  # immediately extend it
```

### Verification

Since each passport may have a separate `x5u`, and we don't want to add HTTP client dependencies to `stir_shaken`, I think we must come up with a new set of functions here:

```
  stir_shaken_verify_passport(index, cert, err_code, err_reason)
  stir_shaken_verify_chain(err_code, err_reason, [orig], [dest])
```

Example workflow, with cert caching & HTTP fetch:

```
  $var(i) = 0;
  while ($var(i) < $identity(count)) {
      cache_fetch("local", $identity(x5u)[$var(i)], $var(cert));

      if ($var(cert) == NULL) {
          rest_get($identity(x5u)[$var(i)], $var(cert));
          cache_store("local", $identity(x5u)[$var(i)], $var(cert));
      }

      if (!stir_shaken_verify_passport(
              $var(i), $var(cert), $var(code), $var(reason))) {
          # Preserve Identity headers, but verification has failed.
          break;
      }

      $var(i) = $var(i) + 1;
  }

  $var(rc) = stir_shaken_verify_chain(
      $var(code), $var(reason));
```

* the `stir_shaken_verify_passport()` works per Identity header, self-explanatory.  But it still wouldn't be a 1:1 to the current `stir_shaken_verify()`, because it needs to avoid things such as comparing `dest` with To header, which may naturally diverge in these "div" passports and would fail the standard "verify" procedure.
* the `stir_shaken_verify_chain()` would need a small sorting algorithm to first establish the passport chain (O -> div1 -> div2 -> ... -> divN).  Then it should be able to detect all kinds of error corner-cases, to name a few off the top of my head:
  * missing links
  * cycles !
  * duplicate links
  * mismatch of final destination
 
### Indexed Identity access

```
  $identity(count)
  $identity(ppt)[$var(i)]
  $identity(x5u)[$var(i)]
  $identity(orig)[$var(i)]
  $identity(dest)[$var(i)]
  $identity(div)[$var(i)]
  $identity(iat)[$var(i)]
  $identity(header)[$var(i)]
  $identity(payload)[$var(i)]
```

We need to add support for accessing each Identity header and its claims.  When invoked without an index, the variable will continue to select the first SHAKEN PASSporT, regardless of what position the `Identity` header is in.

### Helpers for the "verstat" support

Perhaps some script helpers would be nice here, to avoid blocks of cookie-cutter scripting code, just for manipulating the From/PAI `;verstat=` parameter without causing malformed headers.  Something like this, coupled with a way of printing the last verification result:

```
  $identity(chain_status)  # passed, failed, no-validation, stale, broken

  stir_shaken_add_verstat("pai");
  stir_shaken_add_verstat("from");
  stir_shaken_add_verstat("both");
```

Please let me know what you think -- I believe most of the document should be covered with the above.

Apparently there is also [RFC 8946](https://datatracker.ietf.org/doc/html/rfc8946).

> 5\. stale tokens: upon receiving a stale outermost PASSSporT, the AS side MUST NOT append a fresh `div` which would mask the freshness failure, heading downstream.

The ATIS document says (lines 173-187):

> The STI-AS shall not perform "div" authentication if the STI-VS that verified the terminating INVITE request prior to
> retargeting detected that the outermost PASSporT was stale, as described in clause 5.4.
> 
> NOTE: The following sequence describes the scenario where the above requirement would apply:
> 1) A SHAKEN Service Provider (SP), playing the role of Terminating SP (TSP), receives a terminating INVITE
> request,
> 2) The TSP invokes the STI-VS to verify the PASSporT(s) contained in the received INVITE,
> 3) The STI-VS detects that the outermost PASSporT is stale, as described in clause 5.4,
> 4) The INVITE is retargeted by a terminating call feature, and
> 5) The SP, now playing the role of Originating SP (OSP) for the retargeted leg of the call, does not perform "div"
> authentication because step-3 detected that the outermost PASSporT was stale.
> The reason for this requirement is to avoid masking a PASSporT freshness failure to downstream verifiers when the
> INVITE is retargeted. The mechanism used to convey the freshness failure from step-3 to step-5 is not defined by this
> document (i.e., since this is internal to the SP network, the SP can select a proprietary mechanism). Clause A.2
> describes one possible solution mechanism.

It's true that it's a MUST NOT ("shall not"), but only "if the STI-VS that verified the terminating INVITE request prior to retargeting detected that the outermost PASSporT was stale". If, at the time that the STI-AS is deciding whether to perform "div" authentication, the (original) outermost PASSporT is stale, that does not guarantee that it _was_ stale at the time the call originally came in. For example, imagine this sequence:

1. Alice calls Bob.
2. The terminating SP verifies the PASSporT. It is fresh, not stale, and passes all other checks.
3. Bob answers.
4. Bob talks to Alice for X amount of time, where X is enough to ensure that the PASSporT would _now_ count as stale.
5. Bob forwards the call to Carol.
6. "The SP, now playing the role of Originating SP (OSP) for the retarged leg of the call" should, in my view, still perform "div" authentication. It does _not_ know that the STI-VS found the original outermost PASSporT to be stale (and in fact, the STI-VS did not find that).

Note that the example from the ATIS document is for _immediate_ retargetting. I have given an example of _delayed_ retargetting.

Granted, a challenge here is how do we know which it was, and whether the original PASSporT was stale at the time the original INVITE was received.

RFC 8946, section 4.1, says, "The retargeting entity SHOULD act as a verification service and validate the existing Identity header field value(s) in the request before proceeding". That could argue to apply the same verification at STI-AS time as at STI-VS time.

However, section 4.2, item 4 says, "However, note that in some use cases, including certain ways that call transfers are implemented, it is possible that an established call will be retargeted long after it has originally been placed, and verification services may want to allow a longer window for the freshness of the innermost PASSporT if the call is transferred from a trusted party (as an upper bound, a freshness window on the order of three hours might suffice)."

So, at a minimum, a larger freshness window should be an option. I would go further and say it should be the _default_ to use a larger freshness window (e.g. 3 hours, per RFC 8946) when verifying the inner PASSporT(s). (The outermost PASSporT would still be verified using the normal/shorter interval.)

My colleague Mike (@LCEbay) is also going to reply on here with some of his thoughts more generally (i.e. not just this freshness issue). He is the one that works directly with OpenSIPS.

> ### Helpers for the "verstat" support
> 
> Perhaps some script helpers would be nice here, to avoid blocks of cookie-cutter scripting code, just for manipulating the From/PAI `;verstat=` parameter

It would be very nice if there was a function to do that operation for me!

> Something like this, coupled with a way of printing the last verification result:
> 
> ```
>   $identity(chain_status)  # passed, failed, no-validation, stale, broken
> 
>   stir_shaken_add_verstat("pai");
>   stir_shaken_add_verstat("from");
>   stir_shaken_add_verstat("both");
> ```

How would this function react to an existing verstat being present?  Would it fail?  Would it silently overwrite the existing verstat?  What if a verstat is present in the From, and I request it add a verstat in the PAI...or vice-versa?  Will it trash the verstat in the other header, or leave it alone?

There may be niche scenarios where somebody wants to manually override/set a verstat.  Thus, consider:

```
stir_shaken_add_verstat(verstat_hdr, [verstat_status]);

Adds verstat to the header with name "verstat_hdr".

Meaning of the parameters is as follows:

- *verstat_hdr (string)* - the name of the header to add the vertstat. The
following values can be used:
    - *pai* - P-Asserted-Identity
    - *from* - From
    - *both* - P-Asserted-Identity and From

- *verstat_status (string, optional)* - the value of the vertstat.  If not
specified, a value derived from $identity(chain_status) will be used.  The
following values can be used:
    - *TN-Validation-Passed*
    - *TN-Validation-Passed-A*
    - *TN-Validation-Passed-B*
    - *TN-Validation-Passed-C*
    - *TN-Validation-Failed*
    - *TN-Validation-Failed-A*
    - *TN-Validation-Failed-B*
    - *TN-Validation-Failed-C*
    - *No-TN-Validation*
```

> So, at a minimum, a larger freshness window should be an option. I would go further and say it should be the default to use a larger freshness window (e.g. 3 hours, per RFC 8946) when verifying the inner PASSporT(s).

Probably need to create a new parameter for this.  Maybe `verify_date_div_freshness`?

> (The outermost PASSporT would still be verified using the normal/shorter interval.)

Probably use the existing `verify_date_freshness` parameter.
https://docs.opensips.org/manual/devel/modules/stir_shaken/#param_verify_date_freshness

Going through your raised points, @rlaager and @LCEbay:

* Indeed, the `div` re-targeting introduces a new way of using the `shaken` PASSporT, which puts strain on the default value for `verify_date_freshness` chosen by us.  Case in point: the default `iat`/`Date` freshness only had to be in the order of seconds/tens of seconds (now: `60` sec), as the STIR/SHAKEN stuff was only meant for _session establishment_, which is quick!  Now, this ATIS document adds a new use-case, with mid-dialog Call Forwarding which will attempt to re-use the same, outermost PASSporT.  Potentially after tens of minutes, sometime even _hours_!  So yes, we can add an extra `verify_date_div_freshness`, to give good control when checking the forwarding chain.  And developers who sign `div` passports using OpenSIPS will have to bump their default `verify_date_freshness` significantly, again, because the `shaken` passports are going to be verified in novel ways in terms of timing.
* To make the new ";verstat" functions easier to use, we can rename to `stir_shaken_set_verstat("pai");`.  Making it pretty clear it will override or add, depending if the param is already there or not.  Can include a "value" parameter as well, sure.

> yes, we can add an extra `verify_date_div_freshness`, to give good control when checking the forwarding chain.  And developers who sign `div` passports using OpenSIPS will have to bump their default `verify_date_freshness` significantly, again, because the `shaken` passports are going to be verified in novel ways in terms of timing.

I’m not following why `verify_date_freshness` would have to increase. I was thinking that `verify_date_div_freshness` is to be the longer timeout (default e.g. 3 hours) for _verifying_ the _inner_ passport(s) when both verifying and adding a div passport, right? So `verify_date_freshness` stays short, because that is only used for an outer passport (be that a single like today, or the outermost div in the div scenarios).

@rlaager I had the chain-verification in mind, where we need to validate the full sequence of forwarding from outermost -> innermost passport, and the freshness of all `iat` values simultaneously.  This is to be performed by the upcoming `stir_shaken_verify_chain(...)`.  Going back to your Alice/Bob example from [here](https://github.com/OpenSIPS/opensips/issues/3951#issuecomment-5486985205), what about the next-hop SP?  Upon receipt of the Diverted INVITE, their VS will immediately detect that the `shaken` passport's `iat`, `Date` (or both) are stale, given that the call was ongoing for quite a while, until caller was finally diverted.

In any case, this isn't affecting the implementation of feature set at all -- it's just a matter of choosing some sensible defaults which should comply with the "average" div STIR/SHAKEN deployment.