[BUG] Dialog pinging and failed reINVITE.

Hello, guys!

I'm using latest git opensips 3.0 and I found an issue which I don't know how to avoid.

Let's imagine next dialog:
INVITE (SDP ALAW) ->
100 <-
180 <-
200 (SDP ALAW) <-
ACK ->
`here people are talking and they want to start t.38 but it's not supported`
<- reINVITE (another SDP with T.38)
488 (originator doesn't support T.38) ->
`call isn't finished and continues, but call parties rollback into initial voice codec`

regarding RFC #6337 
```
3.4.  Recovering from a Failed Re-INVITE
   Section 14.1 of [RFC3261] requires that the session parameters in
   effect prior to a re-INVITE remain unchanged if the re-INVITE fails,
   as if no re-INVITE had been issued.  This remains the case even if
   multiple offer/answer exchanges have occurred between the sending of
   the re-INVITE and its failure, and even if media has been exchanged
   using the proposed changes in the session.  Because this can be
   difficult to achieve in practice, a newer specification [RFC6141]
   recommends the UAS to send a 2xx response to a re-INVITE in cases
   where rolling back changes would be problematic.
   Nevertheless, a UAC may receive a failure response to a re-INVITE
   after proposed changes that must be rolled back have already been
   used.  In such a case, the UAC should send an UPDATE offering the SDP
   that has been reinstated.  (See [RFC6141] for details.)
```
we must rollback to initial SDP. However if after packets which I described above there is pinging reINVITE generated, it will have SDP from reINVITE, but it must have SDP from initial INVITE in this case.

Is this possible to fix?

Thank you.

Indeed, OpenSIPS should not store the declined SDP, and revert to the previous one if possible. Will update here as soon as we have a fix.

I've pushed a fix on the master branch - will leave it on master for a couple of weeks, and if there are no complains, will backport it down to 3.0.

Thank you, Razvan. Now it works properly.

Hi Razvan. Your fix works stable for all these days.