[BUG] $json_compact() escapes forward slashes in JSON output (\/ instead of /)

<!--
Thank you for reporting a bug in OpenSIPS!

In order for us to understand better the issue you are facing, kindly provide all the available information you have about this bug, according to the template below
-->

**OpenSIPS version you are running**
<!-- paste below, inside the ticks block,  the output of the `opensips -V` command -->

```
version: opensips 3.4.13 (x86_64/linux)
flags: STATS: On, DISABLE_NAGLE, USE_MCAST, SHM_MMAP, PKG_MALLOC, Q_MALLOC, F_MALLOC, HP_MALLOC, DBG_MALLOC, FAST_LOCK-ADAPTIVE_WAIT
ADAPTIVE_WAIT_LOOPS=1024, MAX_RECV_BUFFER_SIZE 262144, MAX_LISTEN 16, MAX_URI_SIZE 1024, BUF_SIZE 65535
poll method support: poll, epoll, sigio_rt, select.
git revision: ddb81c092
compiled with gcc 10
```

**Describe the bug**
When using $json_compact() to log a JSON object, forward slashes (/) are escaped as \/ in the log output, even though escaping solidus is optional per the JSON specification [(RFC 8259, section 7).](https://datatracker.ietf.org/doc/html/rfc8259#section-7)

In modern JSON serializers (like Go ), / is not escaped unless explicitly requested, as it’s not required for valid JSON. This improves readability and aligns with practical usage.

**To Reproduce**
With the following config snippet:
```
$json(test) := "{}";
$json(test/file) = "/path/to/some/file";
xlog("L_ALERT", "$json_compact(test)\n");
```
The log shows:
```
{"file":"\/path\/to\/some\/file"}
```

**Expected behavior**
```
{"file":"/path/to/some/file"}
```

Would it be possible to:
1. Avoid escaping / by default in $json_compact(), or
2. Add a flag or alternative function (e.g., $json_compact_raw() or $json_compact_noescape()) to control this?

This would help improve readability in logs and align behavior with modern JSON serializers.

Thanks for your hard work on OpenSIPS!

I've implemented a new variable called `$json_compact_noescape()` on the master branch, so we can close this.