[BUG] Unable to compile opensips 3.6.7

**OpenSIPS version you are running**

n/a, as OpenSIPs won't compile to completion. Instead, here's the output of `git describe`

```
3.6.7-46-g5ae8d876cb
```

**Describe the bug**

When trying to compile OpenSIPs v3.6.7 from source with `make menuconfig` -> 'Compile and Install OpenSIPs', I'll get the following errors during compilation:

```
pt_load.c: In function ‘register_processes_load_stats’:
pt_load.c:390:51: error: expected expression before ‘;’ token
  390 |  load_proc_grp = register_stats_group("proc_load");
      |                                                   ^
pt_load.c:395:56: error: expected expression before ‘;’ token
  395 |  load_proc_1m_grp = register_stats_group("proc_load1m");
      |                                                        ^
pt_load.c:400:58: error: expected expression before ‘;’ token
  400 |  load_proc_10m_grp = register_stats_group("proc_load10m");
      |                                                          ^
pt_load.c:414:21: warning: implicit declaration of function ‘build_stat_name’ [-Wimplicit-function-declaration]
  414 |   if ( (stat_name = build_stat_name( &stat_prefix, pno_s)) == 0 ||
      |                     ^~~~~~~~~~~~~~~
pt_load.c:414:19: warning: assignment to ‘char *’ from ‘int’ makes pointer from integer without a cast [-Wint-conversion]
  414 |   if ( (stat_name = build_stat_name( &stat_prefix, pno_s)) == 0 ||
      |                   ^
pt_load.c:415:3: warning: implicit declaration of function ‘register_stat2’; did you mean ‘register_stat’? [-Wimplicit-function-declaration]
  415 |   register_stat2( "load", stat_name, (stat_var**)pt_get_rt_proc_load,
      |   ^~~~~~~~~~~~~~
      |   register_stat
pt_load.c:428:19: warning: assignment to ‘char *’ from ‘int’ makes pointer from integer without a cast [-Wint-conversion]
  428 |   if ( (stat_name = build_stat_name( &stat_prefix, pno_s)) == 0 ||
      |                   ^
pt_load.c:442:19: warning: assignment to ‘char *’ from ‘int’ makes pointer from integer without a cast [-Wint-conversion]
  442 |   if ( (stat_name = build_stat_name( &stat_prefix, pno_s)) == 0 ||
      |                   ^
pt_load.c:385:6: warning: variable ‘name’ set but not used [-Wunused-but-set-variable]
  385 |  str name;
      |      ^~~~
make[1]: *** [Makefile.rules:28: pt_load.o] Error 1
make[1]: Leaving directory '/home/opensips/src/opensips-3.6'
```

after which the compiler exits. The following modules are included via `make menuconfig`:

- `cachedb_redis`
- `db_mysql`
- `dialplan`
- `regex`
- `json`
- `httpd`
- `mi_xmlrpc_ng`
- `proto_tls`
- `rest_client`
- `tls_openssl`
- `tls_mgm`
- `tls_wolfssl`
- `xml`
- `uuid`

I'm not familiar enough with C and its compilers to judge if this is a code issue or a compiler issue.
However, here's the output of `gcc- v`:

```
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/12/lto-wrapper
OFFLOAD_TARGET_NAMES=nvptx-none:amdgcn-amdhsa
OFFLOAD_TARGET_DEFAULT=1
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Debian 12.2.0-14+deb12u1' --with-bugurl=file:///usr/share/doc/gcc-12/README.Bugs --enable-languages=c,ada,c++,go,d,fortran,objc,obj-c++,m2 --prefix=/usr --with-gcc-major-version-only --program-suffix=-12 --program-prefix=x86_64-linux-gnu- --enable-shared --enable-linker-build-id --libexecdir=/usr/lib --without-included-gettext --enable-threads=posix --libdir=/usr/lib --enable-nls --enable-clocale=gnu --enable-libstdcxx-debug --enable-libstdcxx-time=yes --with-default-libstdcxx-abi=new --enable-gnu-unique-object --disable-vtable-verify --enable-plugin --enable-default-pie --with-system-zlib --enable-libphobos-checking=release --with-target-system-zlib=auto --enable-objc-gc=auto --enable-multiarch --disable-werror --enable-cet --with-arch-32=i686 --with-abi=m64 --with-multilib-list=m32,m64,mx32 --enable-multilib --with-tune=generic --enable-offload-targets=nvptx-none=/build/reproducible-path/gcc-12-12.2.0/debian/tmp-nvptx/usr,amdgcn-amdhsa=/build/reproducible-path/gcc-12-12.2.0/debian/tmp-gcn/usr --enable-offload-defaulted --without-cuda-driver --enable-checking=release --build=x86_64-linux-gnu --host=x86_64-linux-gnu --target=x86_64-linux-gnu
Thread model: posix
Supported LTO compression algorithms: zlib zstd
gcc version 12.2.0 (Debian 12.2.0-14+deb12u1)
```

and also the output of `lsb_release -a`:

```
No LSB modules are available.
Distributor ID: Debian
Description:    Debian GNU/Linux 12 (bookworm)
Release:        12
Codename:       bookworm
```

**To Reproduce**
 1. `git clone https://github.com/OpenSIPS/opensips.git --recursive -b 3.6 opensips-3.6` (which cloned `3.6.7-45-gbccc5a6f71`)
 2. `make menuconfig` with the above modules included
 3. 'Compile And Install OpenSIPS'
 4. Error occurs during compilation

**Expected behavior**

For OpenSIPs to compile successfully.

**Relevant System Logs**

See above.

**OS/environment information**
 - Operating System: Debian 12 (also tried on Debian 10, 11 and 13)
 - OpenSIPS installation: `3.6.7-45-gbccc5a6f71`
 - other relevant information:
     - `gcc version 12.2.0 (Debian 12.2.0-14+deb12u1)`
     - `apt update` & `apt upgrade` were done
     - machine was rebooted
     - machine was fresh install

Could you check in your `Makefile.conf` file if this line (~93) is still active :
```
DEFS+= -DSTATISTICS #Enable the statistics manager
```

that line doesn't seem to exist in my makefile.conf:

```
#aaa_diameter= Diameter implementation for the core AAA API | freeDiameter (libfdcore + libfdproto) v1.2.1 or higher
#aaa_radius= Radius implementation for the core AAA API | Radius client development library, typically radiusclient-ng 0.5.0 or higher
#auth_jwt= JWT auth support | JWT client development library, libjwt-dev
#cachedb_cassandra= Implementation of a cache system designed to work with Cassandra servers | thrift 0.6.1
#cachedb_couchbase= Implementation of a cache system designed to work with CouchBase servers | libcouchbase >= 2.0
#cachedb_dynamodb= Implementation of a cache system designed to work with Dynamodb servers | libaws-cpp-sdk-core and libaws-cpp-sdk-dynamodb
#cachedb_memcached= Implementation of a cache system designed to work with a memcached server. | Memcached client library, typically libmemcached
#cachedb_mongodb= Implementation of a cache system designed to work with a MongoDB server. | libjson and the mongo-c-driver
#cachedb_redis= Implementation of a cache system designed to work with Redis servers | Redis client library, hiredis
#carrierroute= Provides routing, balancing and blacklisting capabilities. | libconfuse, a configuration file parser library
#cgrates= Provides integration with the CGRateS billing/rating engine. | JSON library, libjson
#compression= Implements SIP message compression/decompression and base64 encoding | zlib dev library, typically zlib1g-dev
#cpl_c= Implements a CPL (Call Processing Language) interpreter | library for parsing XML files, typically libxml2 and libxml2-devel
#db_berkeley= Integrates the Berkeley DB into OpenSIPS | Berkeley embedded database
#db_http= Provides access to a database that is implemented as a HTTP server. | CURL library - libcurl
#db_mysql= Provides MySQL connectivity for OpenSIPS | development libraries of mysql-client , typically libmysqlclient-dev
#db_oracle= Provides Oracle connectivity for OpenSIPS. | Development library of OCI, typically instantclient-sdk-10.2.0.3
#db_perlvdb= Provides a virtualization framework for OpenSIPS's database access. | Perl library development files, typically libperl-dev
#db_postgres= Provides Postgres connectivity for OpenSIPS | PostgreSQL library and development library - typically libpq5 and libpq-dev
#db_sqlite= Provides SQLite connectivity for OpenSIPS | SQLite library and development library - typically libsqlite3 and libsqlite3-dev
#db_unixodbc= Allows to use the unixodbc package with OpenSIPS | ODBC library and ODBC development library
#dialplan= Implements generic string translations based on matching and replacement rules | PCRE development library, typically libpcre2-dev
#emergency= Provides emergency call treatment for OpenSIPS | CURL dev library - typically libcurl4-openssl-dev
#event_rabbitmq= Provides the implementation of a RabbitMQ client for the Event Interface | RabbitMQ development library, librabbitmq-dev
#event_sqs= Provides the implementation of a Amazon SQS client for the Event Interface | AWS SDK C++, aws-sdk-cpp
#event_kafka= Provides the implementation of an Apache Kafka producer for the Event Interface | Kafka development library, librdkafka-dev
#h350= Enables access to SIP account data stored in an LDAP [RFC4510] directory containing H.350 commObjects | OpenLDAP library & development files, typically libldap and libldap-dev
#regex= Offers matching operations against regular expressions using the powerful PCRE library. | Development library for PCRE, typically libpcre2-dev
#identity= Adds support for SIP Identity (see RFC 4474). | SSL library, typically libssl
#jabber= Integrates XODE XML parser for parsing Jabber messages | Expat library.
#json= Introduces a new type of variable that provides both serialization and de-serialization from JSON format. | JSON library, libjson
#launch_darkly= Implements an interface to the Launch Darkly feature management cloud | Launch Darkly C++ server-side SDK (libldserverapi)
#ldap= Implements an LDAP search interface for OpenSIPS | OpenLDAP library & development files, typically libldap and libldap-dev
#lua= Easily implement your own OpenSIPS extensions in Lua | liblua5.1-0-dev, libmemcache-dev and libmysqlclient-dev
#httpd= Provides an HTTP transport layer implementation for OpenSIPS. | libmicrohttpd
#http2d= Provides HTTP/2 server-side support, using nghttp2 | nghttp2 library (libnghttp2), libevent, libssl and libevent-openssl
#mi_xmlrpc_ng= New version of the xmlrpc server that handles xmlrpc requests and generates xmlrpc responses. | parsing/building XML library, typically libxml
#mmgeoip= Lightweight wrapper for the MaxMind GeoIP API | libGeoIP
#osp= Enables OpenSIPS to support secure, multi-lateral peering using the OSP standard | OSP development kit, typically osptoolkit
#perl= Easily implement your own OpenSIPS extensions in Perl | Perl library development files, typically libperl-dev
#pi_http= Provides a simple web database provisioning interface | XML parsing & building library, typically libxml-dev
#rabbitmq_consumer= Receive AMQP messages which will be delivered by triggering events | RabbitMQ development library, librabbitmq-dev
#proto_ipsec= Provides support for IPSec sockets in OpenSIPS | Library used for Netlink communication with kernel, libmnl-dev
#proto_sctp= Provides support for SCTP listeners in OpenSIPS | SCTP development library, typically libsctp-dev
#proto_tls= Provides support for TLS listeners in OpenSIPS | SSL development library, typically libssl-dev
#proto_wss= Provides support for Secure WebSocket listeners in OpenSIPS | SSL development library, typically libssl-dev
#presence= Handles PUBLISH and SUBSCRIBE messages and generates NOTIFY messages in a general, event independent way | XML parsing & Building library, typically libxml-dev
#presence_dialoginfo= Enables the handling of "Event: dialog" (as defined in RFC 4235) |  XML parsing & building library, typically libxml-dev
#presence_mwi= Does specific handling for notify-subscribe message-summary (message waiting indication) events as specified in RFC 3842 | XML parsing & building library, typically libxml-dev
#presence_reginfo= Presence handler for "reg"-events according to RFC 3680 | XML parsing & building library,typically libxml-dev
#presence_xml= Does specific handling for notify-subscribe events using xml bodies. | XML parsing & building library, typically libxml-dev
#presence_dfks = Does specific handling for DFKS (as-feature-event) events. | XML parsing & building library, typically libxml-dev
#pua= Offers the functionality of a presence user agent client, sending Subscribe and Publish messages. | XML parsing & building library, typically libxml-dev
#pua_bla= Enables Bridged Line Appearances support according | XML parsing & building library, typically libxml-dev
#pua_dialoginfo= Retrieves dialog state information from the dialog module and PUBLISHes the dialog-information using the pua module. | XML parsing & building library,typically libxml-dev
#pua_mi= Offers the possibility to publish presence information and subscribe to presence information via MI transports. | XML parsing & building library,typically libxml-dev
#pua_reginfo= Publisher for "reg"-events according to RFC 3680 | XML parsing & building library,typically libxml-dev
#pua_usrloc= Connector between usrloc and pua modules. | XML parsing & building library,typically libxml-dev
#pua_xmpp= Gateway for presence between SIP and XMPP. | XML parsing & building library,typically libxml-dev
#python= Easily implement your own OpenSIPS extensions in Python | Shared Python runtime library, libpython
#rest_client= Simple HTTP client | CURL library - libcurl
#rls= Resource List Server implementation following the specification in RFC 4662 and RFC 4826 | parsing/building XML library, typically libxml-dev
#rtp.io= Implements internal RTP proxy based on library of RTPProxy >=3.1 | librtpproxy
#sngtc= Voice Transcoding using the D-series Sangoma transcoding cards | libsngtc_node
#siprec= SIP Call Recording to an external/passive recorder | uuid-dev
#snmpstats= Provides an SNMP management interface to OpenSIPS | NetSNMP v5.3
#tls_openssl= Implements TLS operations using the OpenSSL libarary | SSL development library, typically libssl-dev
#tls_mgm= Provides a TLS interface to manage certificates for OpenSIPS |
#tls_wolfssl= Implements TLS operations using the wolfSSL libarary |
#xcap= XCAP utility functions for OpenSIPS. | libxml-dev
#xcap_client= XCAP client for OpenSIPS.It fetches XCAP elements, either documents or part of them, by sending HTTP GET requests | libxml-dev and libcurl-dev
#xml= Introduces a new type of variable that provides both serialization and de-serialization from XML format. | XML library, libxml2-dev
#xmpp= Gateway between OpenSIPS and a jabber server. It enables the exchange of IMs between SIP clients and XMPP(jabber) clients. | parsing/building XML files, typically libexpat1-devel
#uuid= UUID generator | uuid-dev

exclude_modules?= aaa_diameter aaa_radius auth_jwt cachedb_cassandra cachedb_couchbase cachedb_dynamodb cachedb_memcached cachedb_mongodb cachedb_redis carrierroute cgrates compression cpl_c db_berkeley db_http db_mysql db_oracle db_perlvdb db_postgres db_sqlite db_unixodbc dialplan emergency event_rabbitmq event_sqs event_kafka h350 regex identity jabber json launch_darkly ldap lua httpd http2d mi_xmlrpc_ng mmgeoip osp perl pi_http rabbitmq_consumer proto_ipsec proto_sctp proto_tls proto_wss presence presence_dialoginfo presence_mwi presence_reginfo presence_xml presence_dfks  pua pua_bla pua_dialoginfo pua_mi pua_reginfo pua_usrloc pua_xmpp python rest_client rls rtp.io sngtc siprec snmpstats tls_openssl tls_mgm tls_wolfssl xcap xcap_client xml xmpp uuid

include_modules?= cachedb_redis db_mysql dialplan regex json httpd mi_xmlrpc_ng proto_tls rest_client tls_openssl tls_mgm tls_wolfssl xml uuid


PREFIX ?= /usr/local/
```

But you have it in the Makfile.conf.template ?

yes, Makefile.conf.template contains the line:

```
DEFS+= -DSTATISTICS #Enable the statistics manager
```

among other lines with the prefix DEFS+=[...]

ok, thanks, let me check more on the `menuconfig` stuff

@FlyingDutchfrog , could you confirm @razvancrainea 's fix please?

okay, here's what i've done:

## 1st try:
1. `git clone https://github.com/OpenSIPS/opensips`
2. `cd opensips`
3. `git checkout 3.6`
4. `git describe` -> `3.6.7-48-g9aa0d39314`
5. `make menuconfig` (with the modules above)
-> compiles without errors ✅ 

then, just to confirm:

## 2nd try:
1. `cd opensips-3.6` <- this is the folder i had previously worked from that wouldn't compile
2. `make clean`
3. `git pull`
4. `git describe` -> `3.6.7-48-g9aa0d39314`
5. `make menuconfig` (with the modules above)
-> fails to compile with the errors above ❌ 

and then finally:

## 3rd try:
1. `rm -r opensips-3.6/`
2. `git clone https://github.com/OpenSIPS/opensips.git --recursive -b 3.6 opensips-3.6`
3. `cd opensips-3.6` <- completely fresh files
4. `git describe` -> `3.6.7-48-g9aa0d39314`
5. `make menuconfig` (with the modules above)
-> compiles without errors ✅ 

## tl;dr
i guess this worked, though i fail to understand why it wouldn't work at the 2nd try, even when `git describe` showed the exact same version codes as on the 1st and 3rd try... maybe some git and/or make shenanigans? i don't know...

For (2), you had to remove the `Makefile.conf` file - it was already generated in a bogus way. By removing it, the `menuconfig` will re-generate it from `Makefile.conf.template`

So I think we are good :) 